<form #myform="ngForm" class="form form-register">
<div class="container">
    <div class="logo">Create a new account!</div>
    <div class="form-group form-group mx-sm-3 mb-2">  
        <div class="form-field form-group mx-sm-3 mb-2">         
          <input name="email" id="register-email" type="email" class="form-control mb-2 mr-sm-2 " placeholder="Email" ngModel required>
        </div>
        <div class="form-field form-group mx-sm-3 mb-2">  
          <input name="phone_number" id="phone_number" type="text" class="form-control mb-2 mr-sm-2" placeholder="Password" ngModel required>
        </div>    
        <div class="form-field form-group mx-sm-3 mb-2">
          <input class="btn btn-primary" type="button" value="Register"  (click)="onSubmit_data(myform.value)">
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="form-group mx-sm-3 mb-2">
  <label for="inputPassword2" class="sr-only" >Password</label>
  <input ngModel name="txt_search" type="text" class="form-control mb-2 mr-sm-2" id="aaaabbbb" placeholder="Password" (keyup)="func_search($event)" > 
  <br>
  <!--<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>-->
</div>

<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 10px;">#</th>
        <th scope="col" style="width: 50%;">email</th>
        <th scope="col" style="width: 50%;">phone number</th>
        <th scope="col" style="width: 50%;">จัดการ</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mDataArray;  let i = index;">
      <td>{{i+1}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone_number}}</td>
      <td><button type="button" class="btn btn-warning" (click)="edit_data(item.id)">Warning</button></td>
    </tr>
    </tbody>
  </table>
</div>
</form>
